body{
	background-color: #E3DBDB;
	font-family: 'Barlow', sans-serif;
	margin: 0px;
	font-size: calc(1vh + 1vw);
}
h2{
	font-family: 'Playfair Display', serif;
}
.navbar ul li a {
color: white;
}
.navbar ul li a:hover{
color: #E2856E;
text-decoration: none;
}
.navbar {
    background: transparent;
	transition: background 0.5s;
	transition: background-color 0.5s;
}
.carImg{
	object-fit:cover;
	width:100%;
	height:100vh;
}
.carousel-inner {
  position: relative;
  text-align: center;
}
.centered { 
  color:#fff;
  font-size: calc(4vw + 6vh);
  font-weight: bold;
  position:absolute;
  z-index:1;
  top:45vh;
  width:100%;
  text-align:center;
  line-height:0.4;
}
.centered-small { 
  font-size: calc(1vw + 2vh);
}
.img3s {
		display: inline;
}
@media (max-width: 576px) {
    .img3s{
        display: none;
    }
}
footer {
  text-align: center;
  background-color: rgb(54, 14, 2);
  color: white;
  margin-top: 45px;
  height: 400px;
  padding-top: 30px;
  
}
.center {
  text-align: center;
  padding: 70px;
  color: rgb(176, 176, 176);
  font: raleway;
  background-color: rgb(64, 16, 2);
}
.footera,.footera:hover{
  text-decoration: none;
}
/*Collums about us*/
*{
  box-sizing: b;
}
.columna {
  float: left;
  width: 26%;
  padding: 40px;
  height: 350px;
  margin: 45px;
}
.columnb {
  float: right;
  width: 26%;
  padding: 40px;
  height: 350px;
  margin:45px;
}
.columnc {
  float: left;
  width: 26%;
  padding: 40px;
  height: 350px;
  margin: 45px;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}
hr.new5 {
  border: 3px solid black;
  
}
.columnd {
  float: left;
  width: 26%;
  padding: 40px;
  height: 350px;
  margin: 45px;
}
.columne {
  float: right;
  width: 26%;
  padding: 40px;
  height: 350px;
  margin:45px;
}
.columnf {
  float: left;
  width: 26%;
  padding: 40px;
  height: 350px;
  margin: 45px;
}